.gallery_table {
	width: 100%;
	text-align: center;
}

.gallery_table tr, .gallery_table td {
	margin: 1em;
	padding: 1em;
	vertical-align: top;
}

.gallery_table tr {
	border-top: 1px solid #ccc;
}

table .layout {
	width: 100%;
}

.layout, td .layout, tr .layout {
	border: none;
	text-align: center;
	vertical-align: top;
}

table .exif_info {
	width: 100%;
}

.exif_info td, .exif_info th {
	vertical-align: top;
	margin: 0em;
	padding: 0em;
	padding-left: 0.5em;
}

.fa-atom-square:before {
    content: "\f143"
}

.fa-atom:before {
    content: "\f09e"
}

.linenos {
	width: 5em;
	text-align: right;
}

.highlighttable .code {
	width: 80em;
}

strong {
	color: #fff;
}

.row a:hover {
	color: #fff !important;
}

.entry-content a {
	border-bottom: 1px solid #fff;
}

.entry-content a.cboxElement {
	border-bottom: none;
}

.cboxElement img {
	padding: 2px;
	margin: 2px;
	border: 1px solid #181818;
}

.cboxElement img:hover {
	border: 1px solid #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #317eac;
}