.fa-atom-square:before {
	content: "\f143"
}

.fa-atom:before {
	content: "\f09e"
}

.linenos {
	width: 5em;
	text-align: right;
}

.highlighttable .code {
	width: 80em;
}

.row a:hover {
	color: #317eac !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #317eac;
}

.entry-content a {
	border-bottom: 1px solid #666;
}

.entry-content a.cboxElement {
	border-bottom: none;
}

.cboxElement img {
	padding: 2px;
	margin: 2px;
	border: 1px solid #fff;
}

.cboxElement img:hover {
	border: 1px solid #317eac;
}

table.exif_info {
	width: 100%;
	margin-bottom: 1em;
	background-color: #fff;
}

.exif_info tr {
	border-top: 1px solid #ccc;
}

.exif_info td, .exif_info th {
	vertical-align: top;
	margin: 0em;
	padding: 0em;
	padding-left: 0.5em;
}

#gallery {
	text-align: center;
	width: 100%;
	padding-left: 2em;
}

.gallery-element {
	float: left;
}

.gallery-element > div {
	overflow: hidden;
	height: 20em;
	text-align: center;
	padding: 1em;
	width: 13em;
	border-top: 1px solid #ccc;
}

.picture-title {
	width: 100%;
	padding-top: 0.2em ;
	color: #fff;
	weight: bold;
}

.elem_2012_Tour > div {
	height: 30em;
}
